
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}


.Vista{
    display: none;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}


.activa{
    display: block;
}


#imagenJungla {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;    
}


#monoAviador {
    position: absolute;
    top: 500px;
    left: calc(50% - 60px);
    width: 120px;
    height: auto;
    image-rendering: pixelated;
    z-index: 1;
}

.obstaculo {
    width: 80px;
    height: auto;
    position: absolute;
    z-index: 2;
    image-rendering: pixelated;
}

.banana{
    width: 80px;
    height: auto;
    position: absolute;
    z-index: 2;
    image-rendering: pixelated;
}

#contador {
    position: relative;   
    z-index: 3;          
    color: white;
    font-size: 24px;
}

#puntos{
    position: relative;   
    z-index: 3;          
    color: rgb(202, 240, 7);
    font-size: 24px;
}

